
@{
    ViewBag.Title = "Index";
    Layout = null;
}

@ViewBag.Name
<br>

@if (ViewBag.AgitMember != null){
    foreach (var item in ViewBag.AgitMember)
    {
        @item
        <br>
    }
}

<h2>Index</h2>

